@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	color: #fff;
	background: #2f3238;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

a {
	color: #B24E51;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #afb3b8;
	outline: none;
}

.content {
	min-height: 250px;
	margin: 0 auto;
	padding-bottom: 2em;
}

.content--tiny {
	max-width: 800px;
}

.container {
	text-align: center;
	padding: 5.25em 0.5em 0;
}

/* Header */
.summit-header {
	padding: 0;
	letter-spacing: -1px;
}

.summit-header h1 {
	font-weight: 800;
	font-size: 3.5em;
	line-height: 1;
	margin: 0;
}

.summit-header h1 span {
	display: block;
	font-size: 35%;
	letter-spacing: 1px;
	padding-top: 0.75em;
	color: #afb3b8;
}

@media screen and (max-width: 30em) {
	.summit-header h1 {
		font-size: 3em;
	}
}

.menu__items li a {
	background: #DA7071;
	color: #ffffff;
}
.menu__items li a:hover,
.menu__items li a:focus {
	background: #B24E51;
	color: #cccccc;
}
.summit-header h1 span {
	display: block;
	width: 15em;
	font-size: 21%;
	padding: 1em 0;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
}
.summit-header h1 span::before,
.summit-header h1 span::after {
	content: '';
	position: absolute;
	width: 40%;
	height: 2px;
	top: 50%;
	margin-top: -1px;
	background: #afb3b8;
}
.summit-header h1 span::before {
	right: 100%;
}
.summit-header h1 span::after {
	left: 100%;
}
